@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 23, 23);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  height: 500px;
  max-width: 500px;
  background-color: whitesmoke;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.start-container {
  width: 250px;
  font-family: "Nunito", sans-serif;
}

.start-container h1 {
  font-size: 40px;
  color: rgb(53, 0, 139);
}

.start-container p {
  margin: 5px 0 20px 0;
  font-weight: 400;
}

.start-container button {
  font-family: "Nunito", sans-serif;
  background-color: rgb(53, 0, 139);
  color: whitesmoke;
  height: 40px;
  width: 150px;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
}

.start-container button:hover {
  background-color: rgb(85, 13, 179);
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.blue {
  background-color: rgb(184, 227, 241);
  width: 200px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px 0px -150px -500px;
}

.yellow {
  background-color: lightyellow;
  width: 200px;
  height: 500px;
  border-radius: 30%;
  overflow: hidden;
  margin: -150px -550px 50px 0;
  transform: rotate(45deg);
}

.small-blue {
  background-color: rgb(184, 227, 241);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: -90px;
  left: -90px;
}

.small-yellow {
  background-color: lightyellow;
  width: 180px;
  height: 180px;
  border-radius: 30%;
  overflow: hidden;
  transform: rotate(45deg);
  position: absolute;
  right: -100px;
  top: -100px;
}

li {
  list-style: none;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 75%;
  font-family: "Nunito", sans-serif;
  overflow: scroll;
  max-height: 400px;
}

.quiz-container::-webkit-scrollbar {
  display: none;
}

.answer-buttons button {
  font-family: "Nunito", sans-serif;
  background-color: whitesmoke;
  border-color: rgb(85, 13, 179, 0.5);
  color: rgb(85, 13, 179);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 9px;
  cursor: pointer;
  margin: 2px 2px;
}

.answer-buttons button:hover {
  background-color: rgba(209, 201, 209, 0.61);
}

.selected {
  background-color: darkslateblue;
}

.question {
  color: rgb(51, 22, 88);
  margin-bottom: 10px;
}

.question-container {
  border-bottom: 1px solid rgba(82, 77, 77, 0.2);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.check-answers {
  font-family: "Nunito", sans-serif;
  background-color: rgb(53, 0, 139);
  color: whitesmoke;
  height: 40px;
  width: 150px;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px auto 0 auto;
}

.check-answers:hover {
  background-color: rgb(85, 13, 179);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incorrect {
  background-color: rgba(255, 6, 6, 0.575) !important;
}

.corrected {
  background-color: rgba(100, 218, 139, 0.493) !important;
}
